body {
    max-width: 1200px;
    margin: auto;
}

.parent {
    border: 2px solid rgb(56, 56, 56);
    padding: 2rem 3rem;
    max-width: 1200px;
    font-family: sans-serif;

}

.main-heading {
    margin: 0;
    color: rgb(26, 26, 26);
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 600;
}

h1,
h3,
p,
ul {
    margin: 0;
}

.sub-heading {
    margin: 20px 0;
    color: rgb(97, 178, 97);
    font-size: 20px;
    font-weight: 400;
}

p {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

.sub-content-heading {
    color: rgb(75, 133, 156);
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 8px;
}

li {
    line-height: 28px;
    font-size: 16px;
}

.sub-content-heading2 {
    color: rgb(75, 133, 156);
    font-size: 18px;
    font-weight: 500;
    padding-top: 20px;
    padding-bottom: 10px;
}
.img{
    width: 30px;
    height: 30px;
}
.divider{
    border: 2px solid black;
    width: 100%; 
    margin-bottom: 50px;   
}